<html xmlns:th="http://www.thymeleaf.org"  th:lang="#{locale.language}">
<head>
    <th:block th:include="index.html :: headerfiles"></th:block>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/views/homeView/home.css"/>
    <title>Home|index</title>
</head>
<body>

<section th:replace="index.html :: header"/>

<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">


    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">تشخص خودکار بیماری</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5"><strong>
                    به وب سایت ما خوش آمدید</strong></h3>
                <p class="mbr-text pb-3 mbr-fonts-style display-5"><strong>سیستم تشخیص بیماری &nbsp;با استفاده از هوش
                    مصنوعی به شناسایی بیماری می پردازد و پزشک معالج مربوط به بیماری و راه های درمانی آن را به شما ارائه
                    می کند</strong></p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-secondary display-5"
                       data-toggle="modal" data-target="#loginmodal" onclick="loginmodalClick()">ورود</a>
                    <a class="btn btn-md btn-white-outline display-5"
                       data-toggle="modal" data-target="#registermodal">ثبت نام</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down align-left" aria-hidden="true">
        <a href="#">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>


<section class="tabs3 cid-r16wFdAEp1" id="tabs3-j">


    <div class="container">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">نحوه ی کار با سیستم</h2>
        <h3 class="mbr-section-subtitle  display-5 align-center mbr-light mbr-fonts-style">&nbsp;این سیستم به نحوه ای
            پیاده سازی شده است که کاربر به راحتی می تواند در سه مرحله به شناسایی و درمان بیماری خود بپردازد</h3>
    </div>
    <div class="container-fluid">
        <div class="row tabcont">
            <ul class="nav nav-tabs pt-3 mt-5" role="tablist">
                <li class="nav-item mbr-fonts-style"><a class="nav-link active show display-5" role="tab"
                                                        data-toggle="tab" href="#tabs3-j_tab0" aria-selected="true">
                    ثبت نام</a></li>
                <li class="nav-item mbr-fonts-style"><a class="nav-link  active show display-5" role="tab"
                                                        data-toggle="tab" href="#tabs3-j_tab1" aria-selected="true">
                    سیستم تشخیص</a></li>
                <li class="nav-item mbr-fonts-style"><a class="nav-link active show display-5" role="tab"
                                                        data-toggle="tab" href="#tabs3-j_tab2" aria-selected="true">درمان</a>
                </li>


            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row px-1">
            <div class="tab-content">
                <div id="tab1" class="tab-pane in active mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">
                                ثبت نام در وب سایت</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">اگر اولین بار است که
                                وارد این وب سایت شده اید برای&nbsp;<br/>بهره مندی از مزایای سیستم در صفحه نسخت دکمه ثبت
                                نام<br/>.را فشار بدهید</p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-website-theme"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">
                                وارد کردن مشخصات</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">بعد از وارد کردن اطلاعات
                                شخصی ثبت نام شما صورت&nbsp;می پذیرد&nbsp;<br/>دقت بفرمایید اطلاعات خود را دقیق وارد کرده
                                باشید. ودکمه تایید را<br/>.فشاربدهید<br/><br/></p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-sites"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">سوابق بیماری</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">در ادامه ثبت نام شما با
                                فرمی روبرو می شوید که اطلاعات&nbsp;<br/>مربوط به سوابق بیماری شما را دریافت می کند. لطفا
                                با<br/>.صحت کامل آن را پرکنید</p>
                        </div>


                    </div>
                </div>

                <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-search"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">
                                تشخیص بیماری خاص</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">این سیستم دقیق ترین
                                سیستم تشخیص بیماری می باشد<br/>بدین صورت که با گرفتن اطلاعاتی درمورد بیماری خاص<br/>.احتمال
                                مبتلا بودن کاربر به این بیماری را گزارش می کند</p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-search"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">تشخیص با استفاده
                                از شرح حال بیمار</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">این سیستم با گرفتن شرح
                                حالی از بیمار به شناسایی بیماری ای که&nbsp;<br/>&nbsp;ممکن است کاربر به آن دچار شده باشد
                                می پردازد دراین نحوه ی &nbsp;تشخیص داده شرح حالی درست بسیار مهم می باشد</p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-photos"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">تشخیص با استفاده
                                از تصاویرومستندات</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">این سیستم با استفاده از
                                مستنداتی مانند جواب های آزمایش و&nbsp;<br/>تصاویر گرفته شده از بدن و یا نوار قلب و مغز
                                به
                                تشخیص<br/>.بیماری می پردازد&nbsp;<br/></p>
                        </div>


                    </div>
                </div>

                <div id="tab3" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-file"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">
                                معرفی شیوه های درمانی</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">دراین سیستم بعد از تشخیص
                                بیماری نحوه های درمان آن&nbsp;<br/>به شکل کاملا به روز شده با شیوه های درمانی جهانی
                                به<br/>.بیمار گزارش می شود</p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">معرفی پزشک
                                متخصص</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">سیستم تشخیص بیماری
                                نمیتواند ضمانت کافی و لازم را برای<br/>تشخیص درست بیماری به صورت صد در صد&nbsp;بدهد<br/>
                                لذا در این سیستم شما می توانید به پزشکان متخصصی&nbsp;<br/>معرفی بشوید تا هر گونه ابهامی
                                در مورد بیماری تشخیص<br/>.داده شده را با پزشک متخصص در جریان بگذارید</p>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card-img ">
                                <span class="mbr-iconfont mbri-chat"></span>
                            </div>
                            <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">راه حل های
                                کاربران</h4>
                            <p class="mbr-section-text  align-center mbr-fonts-style display-7">در این قسمت شما می
                                توانید راه حل های دیگر کاربران&nbsp;<br/>&nbsp;که به اشتراک گذاشته اند را ملاحظه کنید
                                ویا
                                اینکه&nbsp;<br/>خود پیشنهادات خود را درمورد بیماری خاص&nbsp;<br/>.به اشتراک بگذارید</p>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--register modal-->
<div id="registermodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-control" method="post">
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal form-group">
                            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="FirstName" required>
                        </div>
                        <div class="col-md-6 multi-horizontal form-group">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="LastName" required>
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal form-group">
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                        </div>
                        <div class="col-md-6 multi-horizontal form-group">
                            <select class="form-control" id="roleBeans" name="roleBeans" required>
                                <option value="ROLE_PATIENT">Patient</option>
                                <option value="ROLE_PHYSICIAN">Doctor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="username" name="username" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <button type="button" onclick="registerBtnClick()"  class="btn btn-md btn-secondary display-3">تایید</button>
                    <button type="button" class="btn btn-md  display-3" data-dismiss="modal">لغو</button>
                </form>
            </div>
        </div>


    </div>
</div>

<!--loging modal-->
<div id="loginmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-control" method="post">
                    <div class="form-group">
                        <label class="control-label text-danger"  id="incorrect"
                               style="display: none; text-align: -webkit-center"></label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="login_username" name="username" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="login_password" name="password" placeholder="Password" required>
                    </div>
                    <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="button" onclick="loginBtnClick()"  class="btn btn-md btn-secondary display-3">تایید</button>
                    <button type="button" class="btn btn-md  display-3" data-dismiss="modal">لغو</button>
                </form>
            </div>
        </div>

    </div>
</div>

<section th:replace="index.html :: footer"/>

<footer>
    <th:block th:include="index.html :: footerfiles"></th:block>
    <script src="/views/homeView/home.js"></script>
</footer>
</body>
</html>